NODE_ENV=development
PORT=4000
CLIENT_ORIGIN=http://localhost:5173

DB_HOST=localhost
DB_PORT=3306
DB_USER=panel_admin
DB_PASSWORD=panel_admin
DB_NAME=bdiedlavictoria
DB_POOL_LIMIT=10

JWT_SECRET=reemplace_por_una_cadena_larga_y_aleatoria
JWT_EXPIRA_EN=8h
BCRYPT_ROUNDS=10
